*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  margin: 0;
}

.container {
  align-items: flex-start;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0 30px;
  column-gap: 30px;

  a {
    display: block;
    text-decoration: none;
    color: black;
  }

  .button {
    grid-column: span 2;
    text-decoration: none;
    background-color: white;
    font-size: 26px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 33px 40px;
    border-radius: 8px;
  }

  .main-news {
    display: flex;
    flex-wrap: wrap;
    width: 70%;

    .news-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      .news-title {
        grid-column: span 2;
        font-family: 'Open Sans', sans-serif;
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 0;
      }

      .news-list-item {
        background-color: white;
      }

      .news-list-image {
        width: 100%;
        height: 246px;
        object-fit: cover;
        display: block;
      }

      .news-list-item-info {
        padding: 38px;

        .news-list-title {
          font-size: 12px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          color: #1200ff;
          margin-top: 0;
        }

        .news-list-description {
          font-size: 22px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
        }

        .news-date {
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          margin: 10px 0 0;
        }
      }

      .main-menu-link-small {
        display: grid;
        grid-template-columns: 120px 1fr;
        column-gap: 20px;

        .news-list-image-small {
          width: 120px;
          height: 80px;
          object-fit: cover;
          display: block;
        }

        .news-list-title {
          font-size: 12px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          color: #1200ff;
          margin-top: 0;
        }

        .news-list-description-small {
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-weight: 600;
          margin: 0 0 11px;
        }

        .news-date {
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          margin: 10px 0 0;
        }
      }

      .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    }

    .video-wrapper {
      width: 100%;

      .video-wrapper-title {
        width: 100%;
        font-size: 42px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        margin-bottom: 35px;
      }

      .video-card iframe {
        width: 100%;
        display: block;
      }

      .video-list-title {
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }

      .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .secondary-news {
    width: 30%;

    .radio-news-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .radio-news-title {
        width: 100%;
        font-size: 42px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        margin-bottom: 0;
      }

      .radio-news-list-item {
        background-color: white;
        width: 100%;

        .audio-wrapper {
          width: 100%;
          display: flex;
          border: 1px solid;

          .radio-news-image {
            width: 70px;
            height: 70px;
          }

          .audio-item {
            width: calc(100% - 140px);
            margin: 0;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-align: center;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .start-audio {
            width: 70px;
            height: 70px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .start-audio-image {
              width: 40px;
            }
          }
        }

        .audio-wrapper-info {
          padding: 17px 20px;

          .news-list-description-small {
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-weight: 600;
            margin: 0 0 11px;
          }

          .news-date {
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            margin: 10px 0 0;
          }
        }
      }
    }

    .events-news-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .events-news-title {
        font-size: 42px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        margin-bottom: 0;
      }

      .event-news-item {
        width: 100%;
        margin-bottom: 30px;

        .event-news-image {
          width: 100%;
          height: 240px;
          object-fit: cover;
          display: block;
          z-index: -1;
        }

        .event-info {
          background-color: black;
          color: white;
          padding: 20px;
          z-index: 2;
          position: relative;
          margin-top: -10px;

          p {
            margin: 0;
          }

          .event-date-small {
            margin: -52px 0 19px;
            max-width: 70px;
            text-align: center;
          }

          .event-date-number {
            background-color: white;
            color: black;
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
            font-weight: 700;
            padding: 9px 4px 10px;
            border-radius: 8px 8px 0 0;
          }

          .event-date-month {
            text-transform: uppercase;
            background-color: #ff00e9;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 10px;
            font-weight: 600;
            padding: 6px 6px 5px;
            border-radius: 0 0 8px 8px;
          }

          .event-online {
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            padding-top: 0;
            padding-bottom: 5px;
          }

          .event-title {
            font-family: 'Montserrat', sans-serif;
            font-size: 26px;
            font-weight: 700;
          }
        }
      }

      .button {
        margin-bottom: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

}





@media (max-width: 1069px) {
  .container {

    .button {
      width: 100%;
    }

    .main-news {
      width: 60%;

      .news-wrapper {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .secondary-news {
      width: 40%;
    }
  }
}

@media (max-width: 850px) {
  .container {
    flex-wrap: wrap;

    .main-news {
      width: 100%;

      .news-wrapper {
        width: 100%;

        .news-title {
          width: 100%;
        }

        .news-list-item {
          width: calc((100% - 30px) / 2);
        }

        .news-list-item-small {
          width: calc((100% - 30px) /2);
        }
      }
    }

    .secondary-news {
      width: 100%;

      .radio-news-wrapper {
        .radio-news-list-item {
          width: calc((100% - 30px) / 2);
        }
      }


      .events-news-list {
        align-items: center;

        .event-news-item {
          width: 70%;
        }

        .button {
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 699px) {
  .container {
    .main-news {
      .news-wrapper {
        .news-list-item {
          width: 100%;
        }

        .news-list-item-small {
          width: 100%;
        }
      }
    }

    .secondary-news {
      .radio-news-wrapper {
        justify-content: center;

        .radio-news-title {
          text-align: center;
        }

        .radio-news-list-item {
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 510px) {
  .container {
    .secondary-news {
      .radio-news-wrapper {
        align-items: flex-start;

        .radio-news-title {
          text-align: left;
        }

        .radio-news-list-item {
          width: 100%;
        }
      }

      .events-news-list {
        align-items: flex-start;

        .event-news-item {
          width: 100%;
        }

        .button {
          width: 100%;
        }
      }
    }
  }
}