*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  margin: 0;
}

.container {
  align-items: flex-start;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.container a {
  display: block;
  text-decoration: none;
  color: black;
}
.container .button {
  grid-column: span 2;
  text-decoration: none;
  background-color: white;
  font-size: 26px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 33px 40px;
  border-radius: 8px;
}
.container .main-news {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.container .main-news .news-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.container .main-news .news-wrapper .news-title {
  grid-column: span 2;
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;
}
.container .main-news .news-wrapper .news-list-item {
  background-color: white;
}
.container .main-news .news-wrapper .news-list-image {
  width: 100%;
  height: 246px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.container .main-news .news-wrapper .news-list-item-info {
  padding: 38px;
}
.container .main-news .news-wrapper .news-list-item-info .news-list-title {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #1200ff;
  margin-top: 0;
}
.container .main-news .news-wrapper .news-list-item-info .news-list-description {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.container .main-news .news-wrapper .news-list-item-info .news-date {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 0;
}
.container .main-news .news-wrapper .main-menu-link-small {
  display: grid;
  grid-template-columns: 120px 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.container .main-news .news-wrapper .main-menu-link-small .news-list-image-small {
  width: 120px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.container .main-news .news-wrapper .main-menu-link-small .news-list-title {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #1200ff;
  margin-top: 0;
}
.container .main-news .news-wrapper .main-menu-link-small .news-list-description-small {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-weight: 600;
  margin: 0 0 11px;
}
.container .main-news .news-wrapper .main-menu-link-small .news-date {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 0;
}
.container .main-news .news-wrapper .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main-news .video-wrapper {
  width: 100%;
}
.container .main-news .video-wrapper .video-wrapper-title {
  width: 100%;
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 35px;
}
.container .main-news .video-wrapper .video-card iframe {
  width: 100%;
  display: block;
}
.container .main-news .video-wrapper .video-list-title {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.container .main-news .video-wrapper .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .secondary-news {
  width: 30%;
}
.container .secondary-news .radio-news-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.container .secondary-news .radio-news-wrapper .radio-news-title {
  width: 100%;
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
.container .secondary-news .radio-news-wrapper .radio-news-list-item {
  background-color: white;
  width: 100%;
}
.container .secondary-news .radio-news-wrapper .radio-news-list-item .audio-wrapper {
  width: 100%;
  display: flex;
  border: 1px solid;
}
.container .secondary-news .radio-news-wrapper .radio-news-list-item .audio-wrapper .radio-news-image {
  width: 70px;
  height: 70px;
}
.container .secondary-news .radio-news-wrapper .radio-news-list-item .audio-wrapper .audio-item {
  width: calc(100% - 140px);
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .secondary-news .radio-news-wrapper .radio-news-list-item .audio-wrapper .start-audio {
  width: 70px;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container .secondary-news .radio-news-wrapper .radio-news-list-item .audio-wrapper .start-audio .start-audio-image {
  width: 40px;
}
.container .secondary-news .radio-news-wrapper .radio-news-list-item .audio-wrapper-info {
  padding: 17px 20px;
}
.container .secondary-news .radio-news-wrapper .radio-news-list-item .audio-wrapper-info .news-list-description-small {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-weight: 600;
  margin: 0 0 11px;
}
.container .secondary-news .radio-news-wrapper .radio-news-list-item .audio-wrapper-info .news-date {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 0;
}
.container .secondary-news .events-news-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container .secondary-news .events-news-list .events-news-title {
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
.container .secondary-news .events-news-list .event-news-item {
  width: 100%;
  margin-bottom: 30px;
}
.container .secondary-news .events-news-list .event-news-item .event-news-image {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  z-index: -1;
}
.container .secondary-news .events-news-list .event-news-item .event-info {
  background-color: black;
  color: white;
  padding: 20px;
  z-index: 2;
  position: relative;
  margin-top: -10px;
}
.container .secondary-news .events-news-list .event-news-item .event-info p {
  margin: 0;
}
.container .secondary-news .events-news-list .event-news-item .event-info .event-date-small {
  margin: -52px 0 19px;
  max-width: 70px;
  text-align: center;
}
.container .secondary-news .events-news-list .event-news-item .event-info .event-date-number {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 9px 4px 10px;
  border-radius: 8px 8px 0 0;
}
.container .secondary-news .events-news-list .event-news-item .event-info .event-date-month {
  text-transform: uppercase;
  background-color: #ff00e9;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 600;
  padding: 6px 6px 5px;
  border-radius: 0 0 8px 8px;
}
.container .secondary-news .events-news-list .event-news-item .event-info .event-online {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 5px;
}
.container .secondary-news .events-news-list .event-news-item .event-info .event-title {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.container .secondary-news .events-news-list .button {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1069px) {
  .container .button {
    width: 100%;
  }
  .container .main-news {
    width: 60%;
  }
  .container .main-news .news-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .container .secondary-news {
    width: 40%;
  }
}
@media (max-width: 850px) {
  .container {
    flex-wrap: wrap;
  }
  .container .main-news {
    width: 100%;
  }
  .container .main-news .news-wrapper {
    width: 100%;
  }
  .container .main-news .news-wrapper .news-title {
    width: 100%;
  }
  .container .main-news .news-wrapper .news-list-item {
    width: calc((100% - 30px) / 2);
  }
  .container .main-news .news-wrapper .news-list-item-small {
    width: calc((100% - 30px) / 2);
  }
  .container .secondary-news {
    width: 100%;
  }
  .container .secondary-news .radio-news-wrapper .radio-news-list-item {
    width: calc((100% - 30px) / 2);
  }
  .container .secondary-news .events-news-list {
    align-items: center;
  }
  .container .secondary-news .events-news-list .event-news-item {
    width: 70%;
  }
  .container .secondary-news .events-news-list .button {
    width: 70%;
  }
}
@media (max-width: 699px) {
  .container .main-news .news-wrapper .news-list-item {
    width: 100%;
  }
  .container .main-news .news-wrapper .news-list-item-small {
    width: 100%;
  }
  .container .secondary-news .radio-news-wrapper {
    justify-content: center;
  }
  .container .secondary-news .radio-news-wrapper .radio-news-title {
    text-align: center;
  }
  .container .secondary-news .radio-news-wrapper .radio-news-list-item {
    width: 70%;
  }
}
@media (max-width: 510px) {
  .container .secondary-news .radio-news-wrapper {
    align-items: flex-start;
  }
  .container .secondary-news .radio-news-wrapper .radio-news-title {
    text-align: left;
  }
  .container .secondary-news .radio-news-wrapper .radio-news-list-item {
    width: 100%;
  }
  .container .secondary-news .events-news-list {
    align-items: flex-start;
  }
  .container .secondary-news .events-news-list .event-news-item {
    width: 100%;
  }
  .container .secondary-news .events-news-list .button {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */